USE [master]
GO
/****** Object:  Database [NhaSachTrucTuyen]    Script Date: 9/24/2025 10:23:39 AM ******/
CREATE DATABASE [NhaSachTrucTuyen]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NhaSachTrucTuyen', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS05\MSSQL\DATA\NhaSachTrucTuyen.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NhaSachTrucTuyen_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS05\MSSQL\DATA\NhaSachTrucTuyen_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NhaSachTrucTuyen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NhaSachTrucTuyen]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 9/24/2025 10:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaCTDH] [int] IDENTITY(1,1) NOT NULL,
	[MaDH] [int] NULL,
	[MaSP] [int] NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](12, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietGioHang]    Script Date: 9/24/2025 10:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietGioHang](
	[MaCTGH] [int] IDENTITY(1,1) NOT NULL,
	[MaGH] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 9/24/2025 10:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaCTPN] [int] IDENTITY(1,1) NOT NULL,
	[MaPN] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 9/24/2025 10:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[MaDG] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[MaTK] [int] NOT NULL,
	[SoSao] [int] NULL,
	[BinhLuan] [nvarchar](max) NULL,
	[NgayDanhGia] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 9/24/2025 10:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDM] [int] IDENTITY(1,1) NOT NULL,
	[TenDM] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 9/24/2025 10:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NULL,
	[NgayDat] [datetime] NULL,
	[TongTien] [decimal](12, 0) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaPTTT] [int] NULL,
	[MaPTVC] [int] NULL,
	[MaKM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 9/24/2025 10:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaGH] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NOT NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 9/24/2025 10:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 9/24/2025 10:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [int] IDENTITY(1,1) NOT NULL,
	[TenKM] [nvarchar](200) NULL,
	[Code] [nvarchar](50) NULL,
	[TyLeGiam] [decimal](5, 2) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 9/24/2025 10:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](200) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 9/24/2025 10:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC] [int] NOT NULL,
	[NgayNhap] [datetime] NULL,
	[TongTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuongThucThanhToan]    Script Date: 9/24/2025 10:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuongThucThanhToan](
	[MaPTTT] [int] IDENTITY(1,1) NOT NULL,
	[TenPTTT] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPTTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuongThucVanChuyen]    Script Date: 9/24/2025 10:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuongThucVanChuyen](
	[MaPTVC] [int] IDENTITY(1,1) NOT NULL,
	[TenPTVC] [nvarchar](100) NOT NULL,
	[PhiShip] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPTVC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 9/24/2025 10:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](255) NOT NULL,
	[TacGia] [nvarchar](100) NULL,
	[NhaXuatBan] [nvarchar](100) NULL,
	[GiaGoc] [decimal](12, 0) NOT NULL,
	[GiaBan] [decimal](12, 0) NOT NULL,
	[GiamGia] [int] NULL,
	[SoDanhGia] [int] NULL,
	[SoSao] [decimal](2, 1) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[MoTa] [nvarchar](500) NULL,
	[MaDM] [int] NULL,
	[ThuongHieu] [nvarchar](100) NULL,
	[SoLuongTon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 9/24/2025 10:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[VaiTro] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 9/24/2025 10:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[MaTB] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NOT NULL,
	[TieuDe] [nvarchar](200) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
	[DaXem] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] ON 

INSERT [dbo].[ChiTietDonHang] ([MaCTDH], [MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (1, 1, 1, 2, CAST(89000 AS Decimal(12, 0)))
INSERT [dbo].[ChiTietDonHang] ([MaCTDH], [MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (2, 1, 3, 1, CAST(315000 AS Decimal(12, 0)))
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietGioHang] ON 

INSERT [dbo].[ChiTietGioHang] ([MaCTGH], [MaGH], [MaSP], [SoLuong]) VALUES (1, 1, 1, 2)
INSERT [dbo].[ChiTietGioHang] ([MaCTGH], [MaGH], [MaSP], [SoLuong]) VALUES (2, 1, 3, 5)
INSERT [dbo].[ChiTietGioHang] ([MaCTGH], [MaGH], [MaSP], [SoLuong]) VALUES (3, 2, 2, 1)
SET IDENTITY_INSERT [dbo].[ChiTietGioHang] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhap] ON 

INSERT [dbo].[ChiTietPhieuNhap] ([MaCTPN], [MaPN], [MaSP], [SoLuong], [DonGia]) VALUES (1, 1, 1, 50, CAST(80000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuNhap] ([MaCTPN], [MaPN], [MaSP], [SoLuong], [DonGia]) VALUES (2, 1, 2, 30, CAST(60000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuNhap] ([MaCTPN], [MaPN], [MaSP], [SoLuong], [DonGia]) VALUES (3, 2, 3, 100, CAST(4000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhGia] ON 

INSERT [dbo].[DanhGia] ([MaDG], [MaSP], [MaTK], [SoSao], [BinhLuan], [NgayDanhGia]) VALUES (1, 1, 1, 5, N'Sách hay, rất bổ ích!', CAST(N'2025-09-22T19:14:11.530' AS DateTime))
INSERT [dbo].[DanhGia] ([MaDG], [MaSP], [MaTK], [SoSao], [BinhLuan], [NgayDanhGia]) VALUES (2, 2, 2, 4, N'Truyện Kiều hay nhưng hơi khó đọc.', CAST(N'2025-09-22T19:14:11.530' AS DateTime))
INSERT [dbo].[DanhGia] ([MaDG], [MaSP], [MaTK], [SoSao], [BinhLuan], [NgayDanhGia]) VALUES (3, 3, 1, 5, N'Bút viết mượt, giá rẻ.', CAST(N'2025-09-22T19:14:11.530' AS DateTime))
SET IDENTITY_INSERT [dbo].[DanhGia] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDM], [TenDM]) VALUES (1, N'Sách trong nước')
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM]) VALUES (2, N'Sách ngoài nước')
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM]) VALUES (3, N'Dụng cụ học sinh')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDH], [MaTK], [NgayDat], [TongTien], [TrangThai], [MaPTTT], [MaPTVC], [MaKM]) VALUES (1, 1, CAST(N'2025-09-12T15:16:15.507' AS DateTime), CAST(200000 AS Decimal(12, 0)), N'Đang giao hàng', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([MaGH], [MaTK], [NgayTao]) VALUES (1, 1, CAST(N'2025-09-22T19:14:11.530' AS DateTime))
INSERT [dbo].[GioHang] ([MaGH], [MaTK], [NgayTao]) VALUES (2, 2, CAST(N'2025-09-22T19:14:11.530' AS DateTime))
SET IDENTITY_INSERT [dbo].[GioHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [MaTK], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [SoDienThoai]) VALUES (5, 1, N'Nguyễn Văn A', N'Nam', CAST(N'1995-05-20' AS Date), N'Hà Nội', N'0912345678')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON 

INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [Code], [TyLeGiam], [NgayBatDau], [NgayKetThuc]) VALUES (1, N'Giảm 10% cho đơn đầu tiên', N'WELCOME10', CAST(10.00 AS Decimal(5, 2)), CAST(N'2025-09-01' AS Date), CAST(N'2025-12-31' AS Date))
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [Code], [TyLeGiam], [NgayBatDau], [NgayKetThuc]) VALUES (2, N'Black Friday 20%', N'BLACK20', CAST(20.00 AS Decimal(5, 2)), CAST(N'2025-11-25' AS Date), CAST(N'2025-11-30' AS Date))
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [Code], [TyLeGiam], [NgayBatDau], [NgayKetThuc]) VALUES (3, N'Free ship toàn quốc', N'FREESHIP', CAST(0.00 AS Decimal(5, 2)), CAST(N'2025-09-15' AS Date), CAST(N'2025-12-31' AS Date))
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai], [Email]) VALUES (1, N'Công ty Sách Alpha', N'Hà Nội', N'0901234567', N'alpha@sach.vn')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai], [Email]) VALUES (2, N'Nhà phát hành Deli', N'Hồ Chí Minh', N'0912345678', N'deli@stationery.com')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai], [Email]) VALUES (3, N'Công ty Đồ Chơi Việt', N'Đà Nẵng', N'0987654321', N'toys@viet.vn')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuNhap] ON 

INSERT [dbo].[PhieuNhap] ([MaPN], [MaNCC], [NgayNhap], [TongTien]) VALUES (1, 1, CAST(N'2025-09-01T00:00:00.000' AS DateTime), CAST(5000000.00 AS Decimal(18, 2)))
INSERT [dbo].[PhieuNhap] ([MaPN], [MaNCC], [NgayNhap], [TongTien]) VALUES (2, 2, CAST(N'2025-09-05T00:00:00.000' AS DateTime), CAST(2000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[PhieuNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[PhuongThucThanhToan] ON 

INSERT [dbo].[PhuongThucThanhToan] ([MaPTTT], [TenPTTT]) VALUES (1, N'Thanh toán khi nhận hàng (COD)')
INSERT [dbo].[PhuongThucThanhToan] ([MaPTTT], [TenPTTT]) VALUES (2, N'MoMo')
INSERT [dbo].[PhuongThucThanhToan] ([MaPTTT], [TenPTTT]) VALUES (3, N'ZaloPay')
SET IDENTITY_INSERT [dbo].[PhuongThucThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[PhuongThucVanChuyen] ON 

INSERT [dbo].[PhuongThucVanChuyen] ([MaPTVC], [TenPTVC], [PhiShip]) VALUES (1, N'Giao Hàng Tiết Kiệm', CAST(25000.00 AS Decimal(18, 2)))
INSERT [dbo].[PhuongThucVanChuyen] ([MaPTVC], [TenPTVC], [PhiShip]) VALUES (2, N'VNPost', CAST(20000.00 AS Decimal(18, 2)))
INSERT [dbo].[PhuongThucVanChuyen] ([MaPTVC], [TenPTVC], [PhiShip]) VALUES (3, N'GrabExpress', CAST(30000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[PhuongThucVanChuyen] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenSP], [TacGia], [NhaXuatBan], [GiaGoc], [GiaBan], [GiamGia], [SoDanhGia], [SoSao], [HinhAnh], [MoTa], [MaDM], [ThuongHieu], [SoLuongTon]) VALUES (1, N'Nhà Giả Kim - Tái bản 2025', N'Paulo Coelho', N'NXB Văn Học', CAST(150000 AS Decimal(12, 0)), CAST(89000 AS Decimal(12, 0)), 41, 3241, CAST(5.0 AS Decimal(2, 1)), N'/images/Home/nhagiakim.png', N'Tác phẩm nổi tiếng truyền cảm hứng sống.', 1, NULL, NULL)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [TacGia], [NhaXuatBan], [GiaGoc], [GiaBan], [GiamGia], [SoDanhGia], [SoSao], [HinhAnh], [MoTa], [MaDM], [ThuongHieu], [SoLuongTon]) VALUES (2, N'Tạm biệt tôi của nhiều năm về trước', N'An', N'NXB Văn Học', CAST(95000 AS Decimal(12, 0)), CAST(71000 AS Decimal(12, 0)), 24, 2143, CAST(5.0 AS Decimal(2, 1)), N'/images/Home/An.png', N'Truyện hiện đại đầy cảm xúc.', 1, NULL, NULL)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [TacGia], [NhaXuatBan], [GiaGoc], [GiaBan], [GiamGia], [SoDanhGia], [SoSao], [HinhAnh], [MoTa], [MaDM], [ThuongHieu], [SoLuongTon]) VALUES (3, N'Đất Nước Gấm Hoa - Atlas Việt Nam (Bìa cứng)', N'NXB Kim Đồng', N'NXB Kim Đồng', CAST(350000 AS Decimal(12, 0)), CAST(315000 AS Decimal(12, 0)), 10, 3108, CAST(5.0 AS Decimal(2, 1)), N'/images/Home/datncgamhoa.png', N'Atlas Việt Nam phong phú.', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTK], [HoTen], [Email], [MatKhau], [DiaChi], [SoDienThoai], [NgayTao], [VaiTro]) VALUES (1, N'Nguyễn Văn A', N'vana@example.com', N'123456', N'Hà Nội', N'0912345678', CAST(N'2025-09-12T15:16:15.503' AS DateTime), NULL)
INSERT [dbo].[TaiKhoan] ([MaTK], [HoTen], [Email], [MatKhau], [DiaChi], [SoDienThoai], [NgayTao], [VaiTro]) VALUES (2, N'Quản Trị Viên', N'admin@example.com', N'admin123', NULL, NULL, CAST(N'2025-09-12T15:34:14.187' AS DateTime), N'Admin')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[ThongBao] ON 

INSERT [dbo].[ThongBao] ([MaTB], [MaTK], [TieuDe], [NoiDung], [NgayTao], [DaXem]) VALUES (1, 1, N'Xác nhận đơn hàng', N'Đơn hàng #1001 của bạn đã được xác nhận.', CAST(N'2025-09-22T19:14:11.530' AS DateTime), 0)
INSERT [dbo].[ThongBao] ([MaTB], [MaTK], [TieuDe], [NoiDung], [NgayTao], [DaXem]) VALUES (2, 2, N'Khuyến mãi mới', N'Giảm 20% toàn bộ sách trong tuần này.', CAST(N'2025-09-22T19:14:11.530' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[ThongBao] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhuyenMa__A25C5AA7278E22CC]    Script Date: 9/24/2025 10:23:39 AM ******/
ALTER TABLE [dbo].[KhuyenMai] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__A9D10534BB2ACE8C]    Script Date: 9/24/2025 10:23:39 AM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietGioHang] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[DanhGia] ADD  DEFAULT (getdate()) FOR [NgayDanhGia]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (N'Chờ xử lý') FOR [TrangThai]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[PhuongThucVanChuyen] ADD  DEFAULT ((0)) FOR [PhiShip]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [SoDanhGia]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0.0)) FOR [SoSao]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (N'KhachHang') FOR [VaiTro]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT ((0)) FOR [DaXem]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD  CONSTRAINT [FK_CTGH_GioHang] FOREIGN KEY([MaGH])
REFERENCES [dbo].[GioHang] ([MaGH])
GO
ALTER TABLE [dbo].[ChiTietGioHang] CHECK CONSTRAINT [FK_CTGH_GioHang]
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD  CONSTRAINT [FK_CTGH_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietGioHang] CHECK CONSTRAINT [FK_CTGH_SanPham]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PhieuNhap] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_CTPN_PhieuNhap]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_CTPN_SanPham]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_SanPham]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_TaiKhoan]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhuyenMai] FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhuyenMai]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_PTTT] FOREIGN KEY([MaPTTT])
REFERENCES [dbo].[PhuongThucThanhToan] ([MaPTTT])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_PTTT]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_PTVC] FOREIGN KEY([MaPTVC])
REFERENCES [dbo].[PhuongThucVanChuyen] ([MaPTVC])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_PTVC]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_TaiKhoan]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhaCungCap]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMuc] ([MaDM])
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK_ThongBao_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK_ThongBao_TaiKhoan]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD CHECK  (([SoSao]>=(1) AND [SoSao]<=(5)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([GiamGia]>=(0) AND [GiamGia]<=(100)))
GO
USE [master]
GO
